@import "tailwindcss";

@theme {
  --color-primary : #F1A350;
  --color-secondary : #688FB4;

  --color-Back : #E9EFF5;
  --color-Shave : #FFFFFF;

  --color-Text-100: #33333F;
  --color-Text-75: #4F4F58;
  --color-Text-50: #898990;
  --color-Line: #E1E6ED;


  --color-border:#E1E6ED;
}